<launch>
	<node
		pkg = "jl"
		type = "generate_arm_tf"
		name = "generate_arm_tf"
		output = "screen"
	/>
	<node
		pkg = "keyboard"
		type = "keyboard"
		name = "keyboard"
	/>
	<node
		pkg = "rviz"
		type = "rviz"
		name = "rviz"
	/>
	<node
		name="arbotix"
		pkg="arbotix_python"
		type="arbotix_driver" output="screen">
    		<rosparam file="$(find jl)/arm.yaml" command="load" />
  	</node>

</launch>
